@import "/src/styles/variables/colors";
@import "/src/styles/variables/breakpoints";
@import "/src/styles/mixins/breakpoints";

:host {
  margin-left: 0;
  padding: 0 !important;
  width: 3.3rem !important;
  margin-left: 0.3rem;
  @include media-breakpoint-down($lg) {
    margin-left: 1rem;
  }
}

.nav-link {
  padding: 0 !important;
}

.cart {
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
  i {
    margin: 0;
  }
  .cart-counter {
    background-color: $warning;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 17px;
    min-height: 17px;
    max-width: 17px;
    max-height: 17px;
    position: absolute;
    top: -5px;
    right: 0.6rem !important;
    color: white;
    padding: 2px 0 0 1px;
    font-size: 11px;
  }
}
