<ul
  id="sidebar"
  [ngClass]="{
    show: (showNavbar$ | async) || (!isMobile&&isSidebarHovered),
    hostMode: (accessMode$ | async) === AccessModeEnum.HOST,
    psMode: (accessMode$ | async) === AccessModeEnum.HEALTH_PERSON
  }"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  <div class="_sidebar_brand">
    <div>
      <img src="/common-assets/images/branding/logo-white.svg" (click)="goToHome()" />
      <span class="close-sidebar" (click)="hideSidebar()">&times;</span>
    </div>
  </div>
  <div class="items-container">
    <li
      *ngFor="let item of (items$ | async)"
      [style]="item.show ? 'display: block' : 'display: none'"
      [routerLinkActive]="'_active'">
      <a class="d-flex justify-content-between w-100 px-3 py-2" style="margin-left: -3px;"
        (click)="(isMobile)?hideSidebar():null" [routerLink]="[item.url]">
        <div class="d-flex align-items-center">
          <img [src]="item.img" *ngIf="!item.icon" />
          <i class="clina {{item.icon}}" *ngIf="item.icon"></i>
          <span class="ms-3 item-label">{{ item.title }}</span>
        </div>
      </a>
    </li>

    <li class="access-mode-container" *ngIf="isAuthenticated && (accessMode$ | async) == AccessModeEnum.HEALTH_PERSON">
      <div
        class="d-flex access-mode-button align-items-center p-1"
        (click)="toggleAccessMode(AccessModeEnum.HOST)">
        <div class="_images_icon">
          <img src="/common-assets/images/sidebar/icon-toggle-mode-white.svg" />
        </div>
        <span class="item-label d-flex justify-content-center">Modo anfitrião</span>
      </div>
    </li>

    <li class="access-mode-container" *ngIf="isAuthenticated && (accessMode$ | async) != AccessModeEnum.HEALTH_PERSON">
      <div
        class="d-flex access-mode-button align-items-center p-1"
        (click)="toggleAccessMode(AccessModeEnum.HEALTH_PERSON)">
        <div class="_images_icon">
          <img src="/common-assets/images/sidebar/icon-toggle-mode-white.svg" />
        </div>
        <span
          class="item-label d-flex justify-content-center"
          style="line-height: 15px">Modo profiss.<br />
          da saúde</span>
      </div>
    </li>

    <li class="logout-container" *ngIf="isAuthenticated">
      <div class="d-flex logout-button p-1" (click)="logout()">
        <div class="_images_icon">
          <img src="/common-assets/images/sidebar/icon-logout-white.svg" />
        </div>
        <span class="item-label d-flex justify-content-center">Sair</span>
      </div>
    </li>
  </div>
</ul>