<article
  class="d-flex justify-content-center mt-4 mb-4 pb-3 room-card"
  [ngClass]="{ showMap }"
  *ngIf="room"
>
  <div *ngIf="room.packagesOfHours.length > 0" class="tag-discount">
    <a [routerLink]="routeToRoom" [queryParams]="{ scroll: 'discount' }">
      <img src="/common-assets/images/discount/discount.svg" alt="logo clina care" />
    </a>
    <div class="popover-discount">
      <div class="texto">
        <ng-container *ngFor="let discountType of discountTypes">
          <div class="text" *ngFor="let package of discountType.packages">
            <ng-container
              *ngIf="
                discountType.type ===
                RoomPackageOfHoursTypeEnum.CONSECUTIVE_HOURS
              "
            >
              {{ package.amountOfHours }} horas consecutivas:
              {{ package?.discountInPercent }}% OFF
            </ng-container>
            <ng-container
              *ngIf="
                discountType.type ===
                RoomPackageOfHoursTypeEnum.NON_CONSECUTIVE_HOURS
              "
            >
              {{ package.amountOfHours }} horas, consecutivas ou não:
              {{ package?.discountInPercent }}% OFF
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="seta"></div>
    </div>
  </div>

  <div *ngIf="room?.advance && room.advance <= 240" class="tag-fast-booking">
    <a [routerLink]="routeToRoom" [queryParams]="{ scroll: 'discount' }">
      <img
        src="/common-assets/images/discount/fast-booking.png"
        alt="Este consultório permite reservas de última hora"
      />
    </a>
    <div class="popover-fast-booking">
      <div class="texto">
        <ng-container>
          <span class="d-block">Reserva instantânea!</span>
          <span *ngIf="room.advance < 60">
            Este consultório pode ser reservado com apenas
            {{ room.advance }} minutos de antecedência. Aproveite!
          </span>
          <span *ngIf="room?.advance === 60">
            Este consultório pode ser reservado com apenas 1 hora de
            antecedência. Aproveite!
          </span>
          <span *ngIf="room.advance > 60">
            Este consultório pode ser reservado com apenas
            {{ room.advance / 60 }} horas de antecedência. Aproveite!
          </span>
        </ng-container>
      </div>
      <div class="seta"></div>
    </div>
  </div>

  <div class="carousel-header" [ngClass]="{ showMap }">
    <div class="d-flex">
      <div class="btn-share" (click)="openSuccessModal()">
        <img
          src="/common-assets/images/icons/icon-share.png"
          class="clina icon-share"
          alt="ícone indicativo do botão de compartilhamento"
          width="12"
          height="12"
        />
        <img
          src="/common-assets/images/icons/icon-share-filled.png"
          class="clina icon-share-filled"
          alt="ícone indicando que a sala foi compartilhada"
          width="12"
          height="12"
        />
      </div>
      <div class="btn-favorite-component">
        <clina-room-favorite-button
          [room]="room"
          (reloadAction)="reloadFavorites()"
        ></clina-room-favorite-button>
      </div>
    </div>
    <a [routerLink]="routeToRoom" class="card-img-link">
      <img
        [src]="s3name + 'room_photo/thumb/' + room.images[0]"
        alt="logo clina care"
        width="360"
        height="235"
        role="button"
        class="card-img clickable"
        onerror="this.src='/common-assets/images/room/not-found.png'"
      />
    </a>
    <a [routerLink]="routeToRoom" class="carousel-card-link">
      <div class="carousel-card">
        <div class="row gx-3 mt-1">
          <div
            class="col d-flex row-title justify-content-center justify-content-md-start"
            style="width: 10px"
          >
            <span class="card-title text-center text-md-start text-nowrap">{{
              room.name
            }}</span>
          </div>
          <div class="col-auto">
            <!-- <clina-room-average-rating
              *ngIf="isRatingEnabled"
              [rating]="[room?.ratingScore]"
            ></clina-room-average-rating> -->
          </div>
        </div>
        <div class="row">
          <div
            class="col-12 col-md-auto pr-0 text-gray-700 d-flex flex-column align-items-center justify-content-center align-itemss-md-start"
          >
            <div>
              <span
                class="small-text d-block align-self-center align-self-md-start"
                >A partir de</span
              >
              <span class="card-price d-block">
                R$ {{ room.minPrice }} / <span>h</span>
              </span>
            </div>
          </div>
          <div
            class="col d-flex align-items-center justify-content-center justify-content-md-end"
            style="height: 40px; margin-right: 30px"
          >
            <div
              *ngFor="let type of room.types"
              class="mx-1 d-flex flex-column align-items-center"
            >
              <div class="mx-auto mb-n2 text-gray-500">
                <span class="extra-small-text">{{ roomType[type] }}</span>
              </div>
              <div class="my-auto icon-type-room">
                <img
                  [src]="imageRoomType[type]"
                  [alt]="imageRoomType[type]"
                  width="32"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col d-flex text-center text-md-start">
            <span class="small-text card-address text-gray-500">
              {{ room.city }}, {{ room.neighborhood }} - {{ room.state }}
            </span>
          </div>
        </div>
      </div>
    </a>
  </div>
</article>
