<section
  class="footer"
  [ngClass]="{
    psMode: accessMode === AccessModeEnum.HEALTH_PERSON,
    hostMode: accessMode === AccessModeEnum.HOST
  }"
>
  <div class="container">
    <div class="row">
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <ul class="d-flex flex-column align-items-center align-items-lg-start">
          <a href="/">
            <img
              src="/common-assets/images/footer/logo-clina-white.svg"
              width="142"
              height="45"
              alt="logotipo clina"
            />
          </a>
          <li class="text-center text-lg-start">
            <span class="small-text fw-medium">
              Somos uma healthtech para aluguel de consultórios inteligentes
            </span>
          </li>
          <li>
            <a
              href="https://wa.me/55{{
                whatsappNumber
              }}?text=Olá! Gostaria de receber mais informações sobre locação de consultórios por hora. Meu nome é "
              target="_blank"
              rel="noreferrer"
              class="small-text"
            >
              <i class="clina icon-whatsapp"></i>+ {{ whatsappNumber }}
            </a>
          </li>
          <li>
            <a href="mailto:contato@clina.care" class="small-text">
              <i class="clina icon-mail-outline"></i>
              {{ "contato@clina.care" }}
            </a>
          </li>
        </ul>
      </div>

      <div class="d-block d-md-none white-separator"></div>

      <div class="col-12 col-md-6 col-lg-3">
        <ul class="d-flex flex-column align-items-center align-items-lg-start">
          <span class="ul-title">Explorar</span>
          <li class="mt-3">
            <a [href]="psUrl + '/room/list'" class="small-text">
              Consultórios disponíveis
            </a>
          </li>
          <li>
            <a [href]="homeUrl + '/terms/usage/health'" class="small-text">
              Termos de uso do Profissional da Saúde
            </a>
          </li>
          <li>
            <a [href]="homeUrl + '/terms/usage/host'" class="small-text">
              Termos de uso do Anfitrião
            </a>
          </li>
          <li>
            <a [href]="homeUrl + '/terms/privacy'" class="small-text">
              Políticas de privacidade
            </a>
          </li>
          <li>
            <a [href]="homeUrl + '/terms/cancel'" class="small-text">
              Políticas de cancelamento
            </a>
          </li>
        </ul>
      </div>

      <div class="d-block d-md-none white-separator"></div>

      <div class="col-12 col-md-6 col-lg-3">
        <ul class="d-flex flex-column align-items-center align-items-lg-start">
          <span class="ul-title">Empresa</span>
          <li class="mt-3">
            <a [href]="homeUrl + '/about'" class="small-text"> Sobre </a>
          </li>
          <li>
            <a [href]="'https://blog.clina.care'" target="_blank" class="small-text"> Blog </a>
          </li>
          <li>
            <a
              [href]="hostUrl"
              rel="noreferrer"
              target="_blank"
              class="small-text"
            >
              Anuncie seu consultório
            </a>
          </li>
          <li style="display: none">
            <a [href]="homeUrl + '/benefits'" class="small-text">
              Benefícios exclusivos
            </a>
          </li>
          <li>
            <a [href]="homeUrl + '/faq'" class="small-text">
              Perguntas frequentes
            </a>
          </li>
        </ul>
      </div>

      <div class="d-block d-md-none white-separator"></div>

      <div class="col-12 col-md-6 col-lg-3">
        <ul
          class="p-0 d-flex flex-column align-items-center align-items-lg-start"
        >
          <span class="ul-title">Nossas redes</span>
          <div
            class="d-flex justify-content-center justify-content-md-start mt-xs-none mt-md-3 mt-lg-none"
          >
            <li>
              <a
                href="https://www.linkedin.com/company/clina/"
                rel="noreferrer"
                target="_blank"
                class="social-media"
              >
                <i class="clina icon-linkedin"></i>
              </a>
            </li>
            <li class="mx-4">
              <a
                href="https://www.instagram.com/clina.care/"
                rel="noreferrer"
                target="_blank"
                class="social-media"
              >
                <i class="clina icon-instagram"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/Clina.care"
                rel="noreferrer"
                target="_blank"
                class="social-media"
              >
                <i class="clina icon-facebook"></i>
              </a>
            </li>
          </div>
        </ul>

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <a
            href="https://transparencyreport.google.com/safe-browsing/search?url=clina.care"
            target="_BLANK"
            rel="noopener noreferrer"
          >
            <img
              src="/common-assets/images/footer/google-safe-browsing.png"
              width="216"
              alt="Google Safe Browsing"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="footer-copyright"
  [ngClass]="{
    psMode: accessMode === AccessModeEnum.HEALTH_PERSON,
    hostMode: accessMode === AccessModeEnum.HOST
  }"
>
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="extra-small-text text-center text-md-start fw-medium">
          &copy; 2022 Clina.care - Todos os direitos reservados
        </span>
      </div>
    </div>
  </div>
</section>
